<header class="site-header">
  <a href="#" class="site-header__brand">
    <img
      src="media/logos/bijbrengen.svg"
      alt="Bijbrengen"
      width="218"
      height="86"
      loading="eager"
      decoding="async"
    />
  </a>
</header>
