<section class="subsidy">
  <div class="subsidy__inner">
    <div class="subsidy__panel">
      <div class="subsidy__logos">
        <img src="images/snn.jpg" alt="SNN Logo" />
        <img src="images/europe.png" alt="EU Logo" />
      </div>
      <div class="subsidy__text">
        <p class="subsidy__eyebrow">
          Europese samenwerking
        </p>
        <p>
          Het project waarin Bijbrengen een leerpret-engine ontwikkelt, is mede mogelijk gemaakt door financiering van SNN
          (Samenwerkingsverband Noord Nederland) en de Europese Unie.
        </p>
      </div>
    </div>
  </div>
</section>
