#bijbrengen_matrix_3x3 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4vw; /* Space between the boxes */
    margin: 1.4vw; /* Margins on the sides */
    padding: 1.4vw; /* Padding on top and bottom, no horizontal padding to center */
    justify-content: center; /* Center the boxes in the container */
}

    #bijbrengen_matrix_3x3 h3 {
        width: 100%; /* Make h3 take the full width to align with the new row */
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 1.5vw;
        text-align: center;
        text-transform: uppercase;
        clear: both; /* Clear previous floats if any */
        padding-top: 1.4vw; /* Add space above the h3 for visual separation */
    }

        #bijbrengen_matrix_3x3 h3::before {
            content: "";
            width: 100%;
            display: block; /* This will ensure it takes up the entire width forcing a wrap */
            height: 0; /* No actual height needed, it's invisible */
        }

    #bijbrengen_matrix_3x3 article {
        position: relative;
        overflow: hidden; /* Prevents overflow outside the articles */
        flex: 0 0 auto; /* Disable flex grow and shrink */
        padding: 1.4vw; /* Padding inside each box */
        width: calc((80% - 2 * 1.4vw) / 3); /* Subtract margin and gaps from the width, then divide by three */
        padding-top: calc((80% - 2 * 1.4vw) / 3);
        box-shadow: 0 0.14vw 0.28vw rgba(0, 0, 0, 0.1); /* Add some shadow for depth */
        margin: 1.4vw; /* Space at the bottom of each box */
        border: 0.1vw solid #e1e1e1; /* A light grey border */
        background-color: black; /* Change the background color to black */
        color: white; /* Change text color to white for better readability */
    }

        #bijbrengen_matrix_3x3 article a {
            z-index: 100;
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 2 * (0.07vw + 0.7vw));
            height: calc(100% - 2 * (0.07vw + 0.7vw));
            display: block; /* Make the <a> tag behave like a block element */
            border: 2px solid white; /* White border */
            padding: 0.35vw; /* Or any other padding you prefer */
            margin: 0.35vw;
        }

            #bijbrengen_matrix_3x3 article a header {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

                #bijbrengen_matrix_3x3 article a header h4,
                #bijbrengen_matrix_3x3 article a header h5,
                #bijbrengen_matrix_3x3 article a header p {
                    z-index: 10; /* Above everything */
                    left: 0;
                    width: 100%;
                    padding: 0.35vw; /* Padding inside the text elements */
                    box-sizing: border-box; /* Include padding in width */
                    font-family: Georgia, "Times New Roman", Times, serif;
                    text-align: center;
                }

                #bijbrengen_matrix_3x3 article a header h4,
                #bijbrengen_matrix_3x3 article a header h5,
                #bijbrengen_matrix_3x3 article a header p {
                    color: #F16521;
                }

                #bijbrengen_matrix_3x3 article a header h4 {
                    text-transform: uppercase;
                    font-size: 1.4vw;
                }

                #bijbrengen_matrix_3x3 article a header h5 {
                    font-size: 1.4vw;
                }

                #bijbrengen_matrix_3x3 article a header p {
                    font-size: 1.4vw;
                }


            #bijbrengen_matrix_3x3 article a picture,
            #bijbrengen_matrix_3x3 article a video {
                left: calc(0.07vw + 0.7vw);
                width: calc(100% - 2 * (0.07vw + 0.7vw));
            }

            #bijbrengen_matrix_3x3 article a picture {
                z-index: 1; /* Below the video */
                position: relative;
                transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity change */
            }

                #bijbrengen_matrix_3x3 article a picture img {
                    width: 100%;
                    max-height: 100%;
                }

            #bijbrengen_matrix_3x3 article a video {
                position: absolute;
                z-index: 2; /* Above the picture */
                bottom: 0;
            }

@media (max-width: 768px) {
    #bijbrengen_matrix_3x3 article {
        width: 100%; /* Full width on smaller screens */
        padding-top: 100%;
    }

    #bijbrengen_matrix_3x3 h3 {
        font-size: 4.5vw;
    }

    #bijbrengen_matrix_3x3 article a header h4,
    #bijbrengen_matrix_3x3 article a header h5,
    #bijbrengen_matrix_3x3 article a header p {
        font-size: 4.2vw;
    }
}